
/**
 |
 | Get a Callback section
 |
 |
 */
.get-callback-section {

}
.get-callback-section .forms-container {
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-gap: var(--space-min);
}
.get-callback-section .get-callback-form {
	padding: var(--space-50) 0;
}
.get-callback-section select.phone-country-code {
	width: 31%;
}
.get-callback-section .form .fine-print {
	grid-column: 1 / -1;
}
@media ( min-width: 640px ) {
	.get-callback-section .forms-container {
		max-width: 63%;
	}
	.get-callback-section .get-callback-form {
		padding-bottom: var(--space-25);
	}
	.get-callback-section select.phone-country-code {
		width: 22%;
	}
	.get-callback-section .form button {
		margin-top: 0;
	}
	.get-callback-section .form .fine-print {
		margin-left: 0;
		max-width: none;
		width: 100%;
	}

}
@media ( min-width: 1040px ) {
	.get-callback-section .forms-container {
		margin-left: auto;
	}
	.get-callback-section .get-callback-form {
		display: flex;
		align-items: center;
	}
	.get-callback-section select.phone-country-code {
		width: 28%;
	}
}
@media ( min-width: 1480px ) {
	.get-callback-section select.phone-country-code {
		width: 23%;
	}
}
