/*
 * Sample Section
 */

.tile-link-section {
	position: relative;
}
.tile-link-section .tile {
	position: relative;
	overflow: hidden;
}
.tile-link-section .tile .layer-1 {
	position: relative;
	z-index: 1;
	width: 100%;
	font-size: 0;
	line-height: 0;
	padding-top: 10%; 
	padding-bottom: 90%; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.tile-link-section .tile .layer-2 {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	padding: var(--space-75);
}
.tile-link-section .tile .layer-3 {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	padding: var(--space-75);
	background-color: var(--dark);
	transition: .3s ease-out;
	transform: translateX(100%);
}
.tile-link-section .tile.open .layer-3 {
	transform: translateX(0%);
}
.tile-link-section .tile .layer-3 .title {
	padding-right: var(--space-75);
}
.tile-link-section .tile .layer-3 .close {
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top: var(--space-75);
	right: var(--space-75);
	font-size: 0;
	line-height: 0;
	width: var(--space-50);
}
.tile-link-section .tile .layer-3 .close:focus {
	outline: none;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.tile-link-section .tile .layer-2 {
		padding: var(--space-50);
	}
	.tile-link-section .tile .layer-3 {
		padding: var(--space-50);
	}
	.tile-link-section .tile .layer-3 .title {
		padding-right: var(--space-50);
	}
	.tile-link-section .tile .layer-3 .close {
		top: var(--space-50);
		right: var(--space-50);
		width: calc( var(--space-50) - var(--space-min) );;
	}
}
@media( min-width: 1480px ) {}