/*
 * Sample Section
 */


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





/*
 * Header Section
 */


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





/*
 * Investment Section
 */

.investment-section {}
.investment-section .tile-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: var(--space-25);
	counter-reset: order;
}
.investment-section .tile-grid .tile {
	position: relative;
	overflow: hidden;
}
.investment-section .tile-grid .tile.investment {
	padding: var(--space-50);
	background-color: var(--dark);
}
.investment-section .tile-grid .tile.investment * {
	transition: all .3s ease-out;
}
.investment-section .tile-grid .tile.investment .title {
	position: relative;
	pointer-events: none;
	height: 6.875em; /* line height (1.375) * number of rows (5)*/
}
.investment-section .tile-grid .tile.investment .title .title-lumpsum {
	position: relative;
	z-index: 2;
	opacity: 1;
}
.investment-section .tile-grid .tile.investment .title .title-emi {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 0;
}
.investment-section .tile-grid .tile.investment .toggle {}
.investment-section .tile-grid .tile.investment .toggle .toggle-button {
	position: relative;
	cursor: pointer;
	display: inline-block;
	color: var(--dark);
	font-size: 0;
	background-color: var(--blue-3);
	border-radius: calc( var(--space-75)/2 );
	overflow: hidden;
}
.investment-section .tile-grid .tile.investment .toggle .toggle-button:focus {
	outline: none;
}
.investment-section .tile-grid .tile.investment .toggle .toggle-button * {
	pointer-events: none;
}
.investment-section .tile-grid .tile.investment .toggle .toggle-button .pill {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: var(--yellow-2);
	width: 65.5%;
	transition: all .3s ease-out;
	border-radius: calc( var(--space-75)/2 );
}
.investment-section .tile-grid .tile.investment .toggle .toggle-button input:checked + .pill {
	left: 65.5%;
	width: 34.5%;
	background-color: var(--green-2);
}
.investment-section .tile-grid .tile.investment .toggle .toggle-button .empty-pill {
	position: relative;
	z-index: 2;
}

.investment-section .tile-grid .tile.investment.show-emi .title .title-lumpsum {
	opacity: 0;
}
.investment-section .tile-grid .tile.investment.show-emi .title .title-emi {
	opacity: 1;
}
.investment-section .tile-grid .tile.investment:not(.show-emi) .rent {
	color: var(--light);
}
.investment-section .tile-grid .tile.investment:not(.show-emi) .cost {
	color: var(--yellow-2);
}
.investment-section .tile-grid .tile.investment:not(.show-emi) .min-investment {
	opacity: 0;
}
.investment-section .tile-grid .tile.investment.show-emi .min-investment {
	color: var(--green-2);	
}
.investment-section .tile-grid .tile.banner {
	grid-row: 3;
	grid-column-start: 1;
	grid-column-end: -1;
}

@media( min-width: 640px )  {
	.investment-section .tile-grid {
		grid-template-columns: 1fr 1fr;
	}
}
@media( min-width: 1040px ) {
	.investment-section .tile-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.investment-section .tile-grid .tile.investment {
		padding: var(--space-25);
	}
	.investment-section .tile-grid .tile.investment .toggle .toggle-button {
		border-radius: calc( var(--space-50)/2 );
	}
	.investment-section .tile-grid .tile.investment .toggle .toggle-button .pill {
		border-radius: calc( var(--space-50)/2 );
		width: 64%;
	}
	.investment-section .tile-grid .tile.investment .toggle .toggle-button input:checked + .pill {
		left: 64%;
		width: 36%;
	}

}
@media( min-width: 1480px ) {
	.investment-section .tile-grid .tile.investment .toggle .toggle-button .pill {
		width: 62%;
	}
	.investment-section .tile-grid .tile.investment .toggle .toggle-button input:checked + .pill {
		left: 62%;
		width: 38%;
	}

}





/*
 * How Section
 */


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





/*
 * Webinar Section
 */


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





/*
 * FAQs Section
 */


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





/*
 * Testimonials Section
 */


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





/*
 * Footer Section
 */


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





